{% extends 'index.html' %}
{% load static %}
{%block title%}
<title>TrendCraze | Reset Password</title>
{% endblock %}
{% block body %}
{% for i in messages%}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{i}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
            <form action="" method="post">
                {% csrf_token %}
                <h3>Enter Registered Email</h3>
                <input type="text" name="email" class="form-control"> <br>
                <button class="btn btn-primary w-50" type="submit">Send OTP</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}